# Dependencias de Node.js (backend y frontend)
node_modules/

# Archivos de entorno (backend y frontend)
.env
.env.local
.env.development
.env.production

# Logs (backend y frontend)
logs/
*.log
npm-debug.log*

# Archivos de configuración local (backend y frontend)
*.local

# Archivos de IDE (backend y frontend)
.vscode/
.idea/

# Archivos de compilación de TypeScript (backend)
dist/

# Archivos de construcción de Next.js (frontend)
.next/
out/

# Archivos de Docker (backend)
Dockerfile
docker-compose.yml

# MongoDB (backend)
data/db/

# Archivos de caché (frontend)
.cache/

# Archivos de Tailwind CSS (frontend)
*.css.map